<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="cas-navbar">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title >Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >

     <form (ngSubmit)="login(registerForm)" #registerForm="ngForm">
      <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" name="email" #email="ngModel" [(ngModel)]="loginData.email" email required></ion-input>
    </ion-item>
    <ion-item *ngIf="email.invalid && email.touched" style="color:red;font-size:11px">Email address in Invalid!</ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" minlength="6" name="password" #password="ngModel" [(ngModel)]="loginData.password" required></ion-input>
    </ion-item>
    <ion-item *ngIf="password.invalid && password.touched" style="color:red;font-size:11px"> Password is Invalid. Enter atleast 6 characters!</ion-item>
   
    <ion-row>
         <ion-col>
               <button type="submit"  class="cas-btn-primary cas-btn--fill" ion-button >Login</button> 
         </ion-col>
           <ion-col>
                <button class="cas-btn-secondary cas-btn--fill" (click)="navigatetoRegsiter()"  ion-button >Register</button> 
         </ion-col>

      </ion-row>

  </form>

</ion-content>